*{
 padding: auto;   
}

.header{
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    border: 2px solid black;
    background-color:blueviolet;
    margin: 20px;
        }
.navbar a{
    padding: 50px;
    color: white;
    }    
.header img{
padding: 20px;    
width: 30%;
height: 200px;
}
.test{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}    
#bild-section{
    margin: 10px;
    padding: 0;
    height: auto;
    width: 60%;
    }
#bild-section img{
    width: 100%;
    height: 100%;
    }
.right-column{
    display: flex;
    align-items: center;
    width: 250px;
    background-color: green;
    
}
#rubrik-section{
    display: table-header-group;
    height: 50%;
    
}



