*{
    border: 0;
    margin: 0;
}
body{
    border: 2px solid black;
    height: 100vh;
    }
.header{
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    
}
.navbar{
    border: 2px solid black;
    background-color: green;
    }
.navbar a{
    padding: 20px;
    color: white;
}    
.header img{
width: 30%;
height: 200px;
}    
.navbar{
    margin-left: 10px;
}